/* General */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgba(34, 255, 185, 0.79);
    /* Fondo claro */
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Encabezado */
.encabezado {
    background-color: #ffffff;
    /* Fondo blanco */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

#logo img {
    height: 80px;
}

.navegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navegacion li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.navegacion li a:hover {
    color: #e426ab;
    /* Color naranja suave al pasar el ratón */
}

.registro a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e44d26;
    /* Color naranja suave */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.registro a:hover {
    background-color: #9ed421f1;
}

/* Menú (Cartas Giratorias) */
#Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 300px;
    height: 400px;
    margin: 20px;
    perspective: 1000px;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.8s;
}

.front {
    background-color: #f0f0f0;
    /* Fondo gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.front img {
    max-width: 100%;
    max-height: 100%;
}

.back {
    background-color: #fff;
    /* Fondo blanco */
    color: #333;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.card:hover .front {
    transform: rotateY(-180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}

.lin a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e44d26;
    /* Color naranja suave */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.lin a:hover {
    background-color: #d44221;
}